@media only screen and (max-width: 960px){
    h1{font-size:8vw;}
    p{font-size:4vw;text-align:center;}
    .text-wrap, .learn-more {padding:.5rem;background-color: transparent;border:2px solid white;}
    .text-wrap h1, .learn-more h2{color:white;}

    .learn-more img {filter: brightness(8);}
    h2{font-size:4vw;}
    .nav{width:10%}
    .nav a{font-size:4vw;padding-left:4vw}
    .logo{width:33vw;}
    .content-overlay{padding:10vh 10vw}
    .content-background{padding:0;}
    .card-contain{flex-direction: column;align-items: center;padding:0;}
    .case-card{width:100vw;height:40vw;border:1px solid white;}
    #card2{transform:none}
    .case-card div{opacity:1;display:flex;align-items:center;justify-content: center}
    .case-studies{padding:0 0;}
    .case-studies h1{margin-bottom:4rem;margin-top:4rem}
    .case-studies p{display:none}
    .service-flex{flex-direction: column;align-items: center;display:grid;grid-template-columns:1fr 1fr}
    .service-flex div{display:flex;flex-direction:column; align-items: center;padding:1em;}
    .service-flex img{width:20vw;height:20vw;}
    #service-p{display:none}
    .services h1, .spidr-story h1{padding:1rem 0;margin:0;}
    .services p{font-size:4vw;font-weight:bold;margin:.5rem 0;}
    .contact-banner{text-align:center;}
    form p{text-align:left;}
    .spidr-story{flex-direction:column;text-align:center;padding:5vw 10vw;}
    .spidr-story div{width:100%;}
    .spidr-story p{padding:1rem 0;}
    .faces{display:flex;position:static;float:none;z-index:auto;
        justify-content: center;padding:1rem 0;box-sizing:border-box}
    .faces img{width:35vw; height:35vw;border:1px solid #EEEEEE;display:block;float:none;position:static;z-index:auto;}
    .cole-img, .ajeet-img{z-index:0;position:static;}
    .contact-banner{margin-top:0; }
    .contact-banner h1{font-size: 8vw;margin:10vw;}
    .contact input{height:3em;}
    .contact button{width:35vw;height:13vw}
    .banner-wrap{height:100vh;}
    .page-banner{height:100vh;}
    .content{transform:none;}
    .overlay{padding:10vh 10vw}
    .page-banner{height:90vh}
    .page-text{padding:5vw 10vw}
    .page-text h1{line-height:1.5}
    .page-text p{line-height:2}
    .page-content{padding:0;}
    .page-content img{width:100%;}
    .hamburger{display:block;width:48px;height:48px;padding-top:6px}
    .menu{width:66vw;height:100vh;position:absolute;z-index:5;background-color:rgba(0,0,0,.5);transform:translateX(-26%) }
    .menu a{color:white;font-size:3em;}
    .footer{padding:0 10vw;}
}
