/**fonts**/
a {text-decoration: none;opacity:.9;transition:opacity .2s ease-in-out}
a:hover{opacity:1}
h1, h2, .service p{font-family: 'Source Serif Pro', serif;}
h1 {font-weight:bold;color:#212121;font-size:36px;}
.case-card h1, .services h1, .contact-banner h1{color:white;}
h2{font-weight:600;color:#EBEBEB;font-size:18px;}
.nav a, p, button{font-family:'Source Sans Pro', sans-serif;font-size:18px;color:white;font-weight:200;}
p{font-size:16px;color:#212121;font-weight:400;line-height:1.5}
.case-card p, .services p{color:#E7E7E7}
body{margin:0;padding:0;}
.page-text p{color:#757575;}
/**containers**/
body{padding:0;margin:0;}
.banner-wrap{
    width:100%;
    height:105vh;
    position:relative;
}
.video{
    position:absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    /* filter: saturate(0%) brightness(0.8); */
    z-index:-1000;
}
.content-overlay{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    box-sizing:border-box;
    padding:11vh 16vw;
}
.header{width:100%;display:flex;justify-content: space-between;}
.nav{display:flex;justify-content: flex-end;align-items:center}
.nav a{padding-left:5rem;}
.hamburger{display:none;}

.text-wrap{padding:0 5rem;background-color:white;text-align:center;
    display:flex;align-items:center;justify-content: center;border:2px solid #BDBDBD;}
.learn-more{display:flex;align-items:center;}
.learn-more h2{padding-right:.5rem;margin:0;}

.content-background{width:100%;
    box-sizing:border-box;
    padding:0 16vw;background-image:url('media/wallpaper.jpg');
    padding-bottom:4rem;
    background-repeat:repeat
}
.content{width:100%;background-color:white;
    box-shadow:0px 4px 4px rgba(0,0,0,.25);
    transform:translateY(-1.5%);
    padding-top:.5rem;
}
.case-studies{display:flex;align-items: center;padding:3rem 5rem; flex-direction: column}
.card-contain{display:flex;width:100%;padding:5rem 0;justify-content: center}
#card2{animation-name:float2;transform: translateY(-3%);animation-duration:4s;  animation-iteration-count: infinite;}
.case-card{width:16vw;height:16vw;position:relative;animation-name:float;animation-duration:4s;animation-iteration-count: infinite;}
.case-card div{width:100%;height:100%;background-color:rgba(0,0,0,.33); 
     position:absolute; opacity:0;transition:opacity .1s; box-sizing:border-box; padding:1rem 2rem;}
.services{width:100%;background:#212121; display:flex;align-items: center;
padding:2rem 10%;flex-direction: column;box-sizing:border-box}
.service-flex{width:100%;justify-content: space-between;display:flex;text-align:center;
padding:3rem 0;}
.service-flex img{width:112px; height:112px}
.spidr-story{display:flex;padding:8rem 10%;justify-content:space-between}
.spidr-story div{width:40%;}
.faces{position: relative;width:400px;height:100%;display:flex;justify-content: flex-end}
.faces img{width:225px;height:225px}

.footer{background-color:#212121;display:flex;height:10em;justify-content: center;align-items: center;}

/*page divs*/
html {scroll-behavior: smooth;}
.black {position:absolute;background-color:#202020;background-color:transparent;padding:5rem 16vw; padding-bottom:2rem;border-bottom:0px solid white;box-sizing:border-box}
.page-banner{width:100%; height:80vh;box-sizing:border-box;}
.banner-wrap{ display:flex;align-items: center;justify-content: center;}
#richard-banner{background-image:url('media/zim-banner.png');background-size:cover;background-position:center}
#bridge-banner{background-image:url('media/bridge-banner.jpg');background-size:cover;background-position:center;}
#calm-banner{background-image:url("media/beach.jpg");background-size:cover;background-position:center;}
.page-content{display:flex;flex-direction: column;align-items: center;padding-bottom:5rem}
.page-content img{border:1px solid #EEEEEE;}
.page{height:60vh;  flex-grow: 1;}
.page-text{padding:5rem 24%;}
.page-text h1{text-align:center;padding-bottom:3rem;}
.page-content a{display:flex;flex-direction: column;align-items: center}
.page-content img{width:70%;object-fit: cover}
.overlay{width:100%; height:100%; background-color:rgba(0,0,0,.33);padding:6rem 16vw;box-sizing:border-box;display:flex;flex-direction:column;}

/**img**/
.logo{width:200px}
.learn-more img{width:24px;height:24px;}
.case-card img{width:100%;height:100%;object-fit:cover;
    filter:saturate(100%);transition:filter .1s ease-in-out;position:absolute;
  }
.case-card:hover div{opacity:1;cursor:pointer;}
.case-card:hover img{filter:saturate(100%);}
.cole-img{left:50%;top:50%;z-index:1;position:absolute;}
.cole-img:hover, .ajeet-img:hover{z-index:2}
.ajeet-img{position:absolute;}

/**form**/
.contact-banner{margin:1vw 0;margin-bottom:1rem;width:100%;background-color:#212121; display:flex;justify-content: center;}
.contact-banner h1 {margin: 3vw;}
.contact{clear:both;padding:0 5vw;min-height:27em;display:flex; justify-content: center;}
.contact form{
    display:block;width:75%;margin: auto;;
}
.contact label{
    line-height:1;
}
.contact textarea{
    width:100%;
    border:1px solid lightgrey;
}
.contact input{
    width:100%;
    height:2em;
    border:1px solid lightgrey;
}
.contact button{
    border-radius: 3px;
    color:#212121;
    background-color:white;
    border:1px solid #212121;
    font-size:18px;
    font-weight:bold;
    padding:.75rem 2rem;
    box-sizing: border-box;
    display:block;
    margin:2rem 0;
    margin-right:0;
    margin-left:auto;
    transition:.15s color ease-in-out, .15s background-color ease-in-out;
    cursor:pointer;
}
.contact button:hover{background-color:#212121; color:white; }

@keyframes float{
    0% {transform:translateY(0)}
    50%{transform:translateY(-2%)}
    100%{transform:translateY(0)}
}
@keyframes float2{
    0%{transform:translateY(-2%)}
    50%{transform:translateY(0)}
    100% {transform:translateY(-2%)}
}